div {
    width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* Center justify */
  }

  .container {
    display: flex;
    justify-content: center; /* Center justify horizontally */
    align-items: center; /* Center vertically */
  }


  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff; 
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .button:hover {
    border-color: #646cff;
  }
  
  .sign-out {
    background-color: #1a1a1a;
  }
  
  .sign-out:hover {
    background-color: #646cff;
  }
  .text-box-container {
    margin-top: 20px;
    margin-bottom: 20px; /* Add spacing below the text box */
  }

  .card {
    width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 20px; /* Add spacing below the card */
    border-color: #646cff;
    border-radius: 1px;
}